---
import CoreLayout from '~/layouts/CoreLayout.astro'
import { Image } from 'astro:assets'
import { Icon } from 'astro-icon'
import ProjectCard from '~/components/ProjectCard.astro'
---

<CoreLayout>
	<section class="relative w-full px-4 pt-32">
		<div class="mx-auto max-w-2xl">
			<div class="flex space-x-5">
				<div class="shrink-0 grow">
					<Image
						class="h-24 w-24 rounded-full object-cover ring-[5px] ring-yellow-400"
						src={import('~/imgs/headshot-schneider.jpg')}
						alt="clayton schneider"
					/>
				</div>

				<div>
					<h1 class="text-2xl font-bold">Clayton Schneider</h1>
					<p class="mt-2">Full-Stack Developer Looking For Work</p>
				</div>
			</div>
			<ul class="mt-5 flex space-x-4">
				<li class="">
					<a
						class="flex items-center space-x-1 text-slate-600"
						href="https://www.linkedin.com/in/clayton-schneider/"
						target="_blank"
					>
						<Icon name="mdi:linkedin" size={30} />
						<span class="font-bold">LinkedIn</span>
					</a>
				</li>
				<li class="">
					<a
						class="flex items-center space-x-1 text-slate-600"
						href="https://github.com/clayton-schneider"
						target="_blank"
					>
						<Icon name="mdi:github" size={30} />
						<span class="font-bold">Github</span>
					</a>
				</li>
			</ul>
			<div class="mt-5 space-y-2 leading-relaxed">
				<p>I love building and learning about software.</p>
				<p>
					I taught myself to code my junior year of college. While studing manufacturing engineering
					and business management I realized that my passion has always been to code. More
					specifically, how can we automate the boring and empower others to do more of what they
					love?
				</p>
				<p>
					My work experience at Carling Technologies, Slooh, and Simply Sprout has taught me many
					valuable lessons in front-end and back-end development. Collaborative and hard-working, I
					am not afraid to ask questions and always look for improvements.
				</p>
				<p>I am looking for a new developer position. Looking to hire?</p>
			</div>
		</div>
	</section>
</CoreLayout>

<section class="px-4 py-10">
	<div class="mx-auto max-w-2xl">
		<div>
			<h2 class="text-3xl font-bold">My Projects</h2>
			<p>Here are some projects that I am proud of:</p>
		</div>
		<div class="mt-5">
			<ProjectCard />
		</div>
	</div>
</section>
