<button id="dark-mode" aria-label="toggle dark mode">
	<svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 24 24">
		<g
			id="sun"
			class="text-black dark:text-transparent"
			fill="none"
			stroke="currentColor"
			stroke-linecap="round"
			stroke-linejoin="round"
			stroke-width="2"
			><circle cx="12" cy="12" r="4"></circle><path
				d="M12 2v2m0 16v2M4.93 4.93l1.41 1.41m11.32 11.32l1.41 1.41M2 12h2m16 0h2M6.34 17.66l-1.41 1.41M19.07 4.93l-1.41 1.41"
			></path></g
		>
		<path
			id="moon"
			class="text-transparent dark:text-white"
			fill="none"
			stroke="currentColor"
			stroke-linecap="round"
			stroke-linejoin="round"
			stroke-width="2"
			d="M12 3a6 6 0 0 0 9 9a9 9 0 1 1-9-9Z"></path>
	</svg>
</button>

<script is:inline>
	if (localStorage.theme === 'dark') {
		document.documentElement.setAttribute('class', 'dark')
	}
</script>

<script>
	const element = document.documentElement!

	function getTheme() {
		if (typeof localStorage !== 'undefined' && localStorage.getItem('theme')) {
			return localStorage.getItem('theme')
		}
		if (window.matchMedia('(prefers-color-scheme: dark)').matches) {
			return 'dark'
		}
		return 'light'
	}

	document.addEventListener('astro:page-load', () => {
		const theme = getTheme()

		if (theme === 'light') {
			element.setAttribute('class', '')
		} else {
			element.setAttribute('class', 'dark')
		}

		window.localStorage.setItem('theme', theme!)

		function handleToggle() {
			element.classList.toggle('dark')
			const dark = element.classList.contains('dark')

			localStorage.setItem('theme', dark ? 'dark' : 'light')
		}

		document.querySelector('#dark-mode')!.addEventListener('click', handleToggle)
	})
</script>

<script>
	document.addEventListener('astro:after-swap', () => {
		if (localStorage.theme === 'dark') {
			document.documentElement.setAttribute('class', 'dark')
		} else {
			document.documentElement.setAttribute('class', '')
		}
	})
</script>
