<footer class="my-32">
	<div class="mx-auto max-w-2xl">
		<p class="text-black/70 dark:text-white/50">
			Built with <a
				class="hover:font-bold hover:text-yellow-400 hover:underline"
				href="https://astro.build"
				target="_blank">Astro</a
			>, <a
				class="hover:font-bold hover:text-yellow-400 hover:underline"
				href="https://tailwindcss.com/">Tailwind</a
			>, and <a
				class="hover:font-bold hover:text-yellow-400 hover:underline"
				href="https://www.cloudflare.com/"
				target="_blank">Cloudflare</a
			>
		</p>
	</div>
</footer>
