---
import { Icon } from 'astro-icon'
import { Image } from 'astro:assets'
import CoreLayout from 'src/layouts/CoreLayout.astro'
import Breadcrumbs from '~/components/Breadcrumbs.astro'
---

<CoreLayout
	seo={{
		title: 'I Cheat At Wordle Project Review | Clayton Schneider',
		description:
			'I Cheat At Wordle is a companion tool that works to help you find remaining moves while playing Wordle.'
	}}
>
	<section class="px-4 pt-32">
		<Breadcrumbs
			links={[
				{ text: 'Projects', link: '#' },
				{ text: 'I Cheat At Wordle', link: '#' }
			]}
		/>
	</section>

	<section class="my-10 px-4">
		<div class="mx-auto max-w-2xl">
			<Image
				transition:name="project-img"
				class="w-full object-cover"
				src={import('~/imgs/projects/icheatatwordle/i-cheat-at-wordle.png')}
				alt="i cheat at wordle"
			/>
			<h3 class="mt-5 text-3xl font-bold" transition:name="project-name">I Cheat At Wordle</h3>
			<p class="mt-2">
				This tool will filter through all the five letter words in the English language and show you
				your remaining guesses so that you can win Wordle faster.
			</p>

			<div class="mt-5">
				<ul class="flex space-x-4">
					<li>
						<a class="flex items-center space-x-1" href="https://icheatatwordle.com" target="_blank"
							><Icon name="gg:external" size={30} /><span>Live Demo</span></a
						>
					</li>
					<li>
						<a
							class="flex items-center space-x-1"
							href="https://github.com/clayton-schneider/icheatatwordle"
							target="_blank"><Icon name="mdi:github" size={30} /><span>Source Code</span></a
						>
					</li>
				</ul>
			</div>
		</div>
	</section>
</CoreLayout>
