---
import { ViewTransitions } from 'astro:transitions'
import { GoogleFontsOptimizer } from 'astro-google-fonts-optimizer'
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/png+xml" href="/favicon.png" />
		<meta name="viewport" content="width=device-width" />
		<title>Clayton Schneider</title>
		<GoogleFontsOptimizer
			url="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap"
		/>
		<ViewTransitions />
	</head>
	<body class="relative w-full overflow-x-hidden">
		<slot />
	</body>
</html>
