---
import Header from '~/components/header/Header.astro'
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/png+xml" href="/favicon.png" />
		<meta name="viewport" content="width=device-width" />
		<title>Clayton Schneider</title>
	</head>
	<body class="relative w-full overflow-x-hidden">
		<Header />
		<slot />
	</body>
</html>
